.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  background: #202020;
}

#app > .container{
  min-height: 90vh;
}

*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: white;
  flex-wrap: wrap;
}

.red{
  background: red;
}

.red:hover{
  background: #ff3f3f;
}

.error{
  color: #ff2525;
}

button{
  background: #00BD7EFF;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  border:0;
}

button:hover{
  background: #009464
}

header,footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo{
  color: #00BD7EFF;
  font-weight: 600;
}

a:hover{
  color: #ababab;
}

.flex{
  display: flex;
  align-items: center;
  gap: 8px;
}

nav{
  gap: 25px !important;
}

.f-b{
  justify-content: space-between;
}

h1,h2,h3,h4{
  margin:0;
}

.header_container{
  border-bottom: 1px solid #454545;
}

.footer_container{
  border-top: 1px solid #454545;
}

form{
  max-width: 500px;
  margin:150px auto;
  border-radius: 16px;
  border:1px solid #454545;
  padding: 15px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;

  .button{
    width: 100%;
  }

  .title{
    text-align: center;
  }

  label{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

input, textarea{
  background: 0;
  border: 1px solid #00BD7EFF;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  resize:vertical;
}

input[type=password]
{
  letter-spacing: 2px;
}

.notify{
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  border-radius: 10px;
  padding: 9px 14px;
  background: red;
  color: white;
  text-align: center;
  transition: 0.3s;
  transform: translateY(500px);
}

.notify.show{
  transform: translateY(0);
}